<launch>

  <node pkg="laser-odom_calibration" name="calib" type="io_test" output="screen">
    <param name="file_path" type="string" value="/home/xiaomi/Documents/bags/" />
    <param name="bagname" type="string" value="2021-08-22-10-30-50" />
    <param name="laser_topic" type="string" value="/f_scan" />
    <param name="odom_topic" type="string" value="/odom" />
  </node>

</launch>
